<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="container-fluid my-5">
  <h1 class="text-warning">{{ title }}</h1>
  <div class="card-body">

    <form #userForm="ngForm">

      <div class="form-group row">
        <label for="username" class="col-form-label col-sm-2">Nom d'usuari</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.username" name="username" required minlength="4" maxlength="12" #username="ngModel">
          <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors.required">
                Camp obligatori.
            </div>
            <div *ngIf="username.errors.minlength">
                Ha de tenir mínim 4 caràcters
            </div>
            <div *ngIf="username.errors.maxlength">
                Ha de tenir màxim 12 caràcters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Nom</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required minlength="2" maxlength="20" #name="ngModel">
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
                Camp obligatori.
            </div>
            <div *ngIf="name.errors.minlength">
                Ha de tenir mínim 2 caràcters
            </div>
            <div *ngIf="name.errors.maxlength">
                Ha de tenir màxim 20 caràcters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastName" class="col-form-label col-sm-2">Cognom</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required minlength="2" maxlength="20" #lastname="ngModel">
          <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
            <div *ngIf="lastname.errors.required">
                Camp obligatori.
            </div>
            <div *ngIf="lastname.errors.minlength">
                Ha de tenir mínim 2 caràcters
            </div>
            <div *ngIf="lastname.errors.maxlength">
                Ha de tenir màxim 20 caràcters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Mail</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.email" name="email" required email #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
                Camp obligatori.
            </div>
            <div *ngIf="email.errors.email">
                Ha de tenir un format de mail vàlid.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="comment" class="col-form-label col-sm-2">Comentari</label>
        <div class="col-sm-6">
          <textarea class="form-control" [(ngModel)]="user.comment" name="comment"></textarea>
        </div>
      </div>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <mat-checkbox for="isEnabled" name="isEnabled" [(ngModel)]="user.isEnabled" class="example-margin">Actiu</mat-checkbox>
        </div>
      </div>

      <br>
      <div class="form-group row" *ngIf="!user.id">
        <label for="password" class="col-form-label col-sm-2">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required minlength="5" maxlength="20" #password="ngModel">
          <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">
                Camp obligatori.
            </div>
            <div *ngIf="password.errors.minlength">
                Ha de tenir mínim 5 caràcters
            </div>
            <div *ngIf="password.errors.maxlength">
                Ha de tenir màxim 20 caràcters
            </div>
          </div>
        </div>
      </div>





      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>Rol</th>
            <th></th>
            <th>Creació</th>
            <th>Comentari</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of allRoles">
            <td>{{role.description}}</td>
            <td>
              <mat-checkbox [checked]="hasRole(role)" (change)="selectRole(role, $event)" color='primary' name="selectRoleChange{{role.id}}"></mat-checkbox>
            </td>
            <ng-container *ngFor="let userRole of user.userRoles">
              <ng-container *ngIf="role.description == userRole.role.description">
                <td>{{userRole.createAt | date: 'dd.MM.yyyy'}}</td>
                <td>{{userRole.comment}}</td>
              </ng-container>
            </ng-container>
          </tr>
        </tbody>
      </table>



      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-outline-info" role="button" (click)='create()' *ngIf="!user.id else elseBlock" [disabled]="!userForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-outline-info" role="button" (click)='update()' [disabled]="!userForm.form.valid">Editar</button>
          </ng-template>

        </div>
      </div>


    </form>
  </div>
</div>
