<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
  {{ err }}</li>
</ul>

<div class="card bg-light" *ngIf="task">
  <div class="card-header">{{title}}: {{task.description}}</div>
  <div class="card-body">

    <h4 class="card-title">
      <a [routerLink]="['/tasks']" class="btn btn-light">&laquo; Tornar</a>
    </h4>

    <form>

      <div class="form-group-row" *ngIf="task.company">
        <label for="company" class="col-sm-2 col-form-label">Empresa</label>
        <div class="class col-sm-6">
          <input type="text" name="company" value="{{task.company.name}}"
          class="form-control" />
        </div>
      </div>

      <div class="form-group-row" *ngIf="task.employee">
        <label for="" class="col-sm-2 col-form-label">Treballador</label>
        <div class="class col-sm-6">
          <input type="text" name="employee" value="{{task.employee.name}}"
          class="form-control" />
        </div>
      </div>

      <div class="form-group-row">
        <label for="description" class="col-sm-2 col-form-label">Descripció</label>
        <div class="class col-sm-6">
          <input type="text" name="description" [(ngModel)]="task.description" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="deadline" class="col-sm-2 col-form-label">Data de venciment</label>
        <div class="class col-sm-6">
            <mat-form-field appearance="fill">
                <mat-label>Tria una data</mat-label>
                <input matInput [matDatepicker]="picker" name="deadline" class="form-control" [(ngModel)]="task.deadline">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
      </div>

      <div class="class form-group-row">
        <div class="class col-sm-6">
          <mat-form-field>
            <input type="text" placeholder="Afegir informació" aria-label="Informations" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="showDescription" (optionSelected)="selectInformation($event)">
              <mat-option *ngFor="let information of filteredInformations | async" [value]="information">
                {{information.description}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>


    <div class="alert alert-info my-4" *ngIf="task.taskInformations.length === 0">
        No hi ha informacions per la tasca {{task.description}}
    </div>

    <h5 class="float-right" *ngIf="task.taskInformations.length > 0">Informacions: <span class="badge badge-secondary">{{task.taskInformations.length}}</span></h5>


    <table class="table table-striped table-hover table-sm" *ngIf="task.taskInformations.length > 0">
        <thead>
            <tr>
                <th>Informació</th>
                <th>Creació</th>
                <th>Feta</th>
                <th>Data Realització</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let information of task.taskInformations">
                <td>{{information.information.description}}</td>
                <td>{{information.createAt}}</td>
                <td>{{information.done}}</td>
                <td>{{information.doneAt}}</td>
                <td><button class="btn btn-danger btn-sm" type="button"
                    (click)="deleteTaskInformation(information.information.id)">x</button></td>
            </tr>
        </tbody>
    </table>





      <div class="form-group-row">
        <div class="class col-sm-6">
          <input type="submit" (click)="create()" value="Crear Tasca" class="btn btn-secondary">
        </div>
      </div>

    </form>


  </div>
</div>
