

<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat d'informacions</h1>
  <div class="card-body text-info">


  <div *ngIf="informations?.length == 0" class="alert alert-info">
    No hi ha registres a la base de dades

  </div>
  <table class="table table-responsive table-hover" *ngIf="informations?.length>0">
    <thead>
      <tr>
        <th>Descripció</th>
        <th>Data creació</th>
        <th>opcions</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let information of informations">

        <td>{{ information.description }}</td>
        <td>{{ information.createAt }}</td>
        <td>pendent botons</td>
      </tr>
    </tbody>
  </table>
  <paginator-nav *ngIf="paginator" [paginator]= "paginator" [linkPaginator] = "linkPaginator" ></paginator-nav>
</div>
</div>
