

<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat de tasques</h1>
  <div class="card-body text-info">


  <div *ngIf="tasks?.length == 0" class="alert alert-info">
    No hi ha registres a la base de dades

  </div>
  <table class="table table-responsive table-hover" *ngIf="tasks?.length>0">
    <thead>
      <tr>
        <th>descripció</th>
        <th>Data venciment</th>
        <th>Data creació</th>
        <th>opcions</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let task of tasks">

        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.createAt }}</td>
        <td>pendent botons</td>
      </tr>
    </tbody>
  </table>
 <!--paginator-nav *ngIf="paginator" [paginator] = "paginator" [linkPaginator]="linkPaginator" ></paginator-nav-->
</div>
</div>
