<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat de tasques</h1>
  <div class="card-body text-info">

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-outline-info btn-xs mr-2" type="button" [routerLink]="['/tasks/form/task']">Crear tasca</button>
    </div>

    <div *ngIf="tasks?.length == 0" class="alert alert-info">
      No hi ha registres a la base de dades
    </div>


    <table class="table table-responsive table-hover" *ngIf="tasks?.length>0">
      <thead>
        <tr>
          <th>descripció</th>
          <th>Data venciment</th>
          <th>Data creació</th>
          <th>opcions</th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let task of tasks">
          <td><button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/tasks', task.id]" class="btn btn-outline-info btn-xs">{{ task.description }}</button></td>
          <td>{{ task.deadline | date: 'dd.MM.yyyy'}}</td>
          <td>{{ task.createAt | date: 'EEE dd.MM.yyyy HH:mm'}}</td>
          <td>
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/tasks/form/task', task.id]" class="btn btn-outline-info btn-xs">Modificar</button>
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="delete" (click)='delete(task)' class="btn btn-outline-danger btn-xs">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator" [linkPaginator]="linkPaginator"></paginator-nav>

  </div>
</div>
