table {
  width: 100%;
    border-collapse: collapse;
}

td.mat-cell:last-child {
 border-bottom: 1px solid white;
border-top: 1px solid rgba(0,0,0,.12);

}

#opcions:last-child {
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-top: 1px solid white;

}
#opcions:first-child {
    border-top: 1px solid rgba(0,0,0,.12);
}

tr.example-detail-row {
  height: 0;
}


tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}





.border-radius {
      border-radius: 15px;
}

.mat-row:hover {
  background-color: #F1F7FC
}

div.is-present {
    color: white;
    background-color: #f0ad4e;
    border-radius: 20px;
    text-align: center;
    width: 90px;
}

div.is-past {
    color: white;
    width: 90px;
    text-align: center;
    background-color: #d9534f;
    border-radius: 20px;
}

div.is-future {
    background-color: #5cb85c;
    color: white;
    border-radius: 20px;
    width: 90px;
    text-align: center;
}

tr.example-detail-row {
  height: 0;
}

/*tr.example-element-row:not(.example-expanded-row):hover {
  background: #ffc107;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}*/




.inner-table {

  width: 100%;
  border-collapse: collapse;
    border: hidden;
}

.inner-table.th{
    border-bottom-width: 0px;
    border-bottom-style: solid;
}

.inner-table, .mat-form-field {
  margin-top: 0px;
  width: 100%;
}
