<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat de tasques</h1>
  <div class="card-body text-info">

    <div class="my-2 text-left">
      <button class="btn btn-outline-info btn-xs mr-2" type="button" [routerLink]="['/tasks/form/task']">Crear tasca</button>
    </div>
    <div *ngIf="tasks?.length == 0" class="alert alert-info">
      No hi ha registres a la base de dades
    </div>
    <div class="mat-elevation-z8 border-radius">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <table mat-table #outerSort="matSort" [dataSource]="dataSource"  multiTemplateDataRows matSort>

        <ng-container matColumnDef="subtasks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <img src="http://localhost:8090/images/plus-sign.png" alt="More details" class="d-flex flex-wrap align-items-center" style="width:20px; cursor:pointer;" *ngIf="expandedElementSubtask != element && element.subtasks.data?.length"
                [class.expanded]="expandedElementSubtask === element" (click)="expandRowSubtask(element)">
            <img src="http://localhost:8090/images/minus-sign.png" alt="Less details" class="rounded" style="width:20px; cursor:pointer;" *ngIf="expandedElementSubtask == element" [class.expanded]="expandedElementSubtask == undefined"
                (click)="expandRowSubtask(element)">

          </td>
        </ng-container>

        <ng-container matColumnDef="done">
          <th mat-header-cell *matHeaderCellDef> Fet </th>
          <td id="opcions" mat-cell *matCellDef="let element"> <input type="checkbox" [(ngModel)]="element.done"></td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripció </th>
          <td mat-cell *matCellDef="let task"> {{task.description}} </td>
        </ng-container>

        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data venciment </th>
          <td mat-cell *matCellDef="let task" > <div [ngClass]="getStatus(task.deadline)"> {{ task.deadline | date: 'dd.MM.yyyy'}} </div></td>
        </ng-container>

        <ng-container matColumnDef="taskInformations">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">

            <img src="http://localhost:8090/images/info.png" alt="More details" class="d-flex flex-wrap align-items-center" style="width:20px; cursor:pointer;" *ngIf="expandedElementInformation != element && element.taskInformations.data?.length"
                [class.expanded]="expandedElementInformation === element" (click)="expandRowInformation(element)">
            <img src="http://localhost:8090/images/minus-sign.png" alt="Less details" class="rounded" style="width:20px; cursor:pointer;" *ngIf="expandedElementInformation == element" [class.expanded]="expandedElementInformation == undefined"
                (click)="expandRowInformation(element)">
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Opcions </th>
          <td id="opcions" mat-cell *matCellDef="let element"> <input type="image" src="http://localhost:8090/images/edit-icon.png" style="width:20px; cursor:pointer;" [routerLink]="['/tasks/form/task', element.id]" />
            <!--button type="button" name="edit" [routerLink]="['/tasks/form/task', element.id]" class="btn btn-outline-info btn-xs">Modificar</button-->
          </td>
        </ng-container>

        <!-- TASK INFORMATIONS Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail1">
          <td mat-cell *matCellDef="let element" [attr.colspan]="innerInformationsDisplayedColumns.length">
            <div class="example-element-detail" *ngIf="element.taskInformations.data?.length" [@detailExpand]="element == expandedElementInformation ? 'expanded' : 'collapsed'">
              <div class="inner-table" *ngIf="expandedElementInformation">
                <mat-form-field>
                  <input matInput (keyup)="applyInnerFilter($event.target.value)" placeholder="Filtrar">
                </mat-form-field>
                <table #innerTables1 mat-table #innerSort1="matSort" [dataSource]="element.taskInformations" matSort>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Informació </th>
                    <td mat-cell *matCellDef="let element"> {{element.information.description}} </td>
                  </ng-container>
                  <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef> Comentari </th>
                    <td mat-cell *matCellDef="let element"> {{ element.comment }}</td>
                  </ng-container>
                  <ng-container matColumnDef="done">
                    <th mat-header-cell *matHeaderCellDef> Fet </th>
                    <td id="opcions" mat-cell *matCellDef="let element"> <mat-checkbox disabled color='primary' name="done{{element.information.id}}" [(ngModel)]="element.done"></mat-checkbox></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="innerInformationsDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerInformationsDisplayedColumns;"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- SUBTASKS Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" *ngIf="element.subtasks.data?.length" [@detailExpand]="element == expandedElementSubtask ? 'expanded' : 'collapsed'">
              <div class="inner-table" *ngIf="expandedElementSubtask">
                <mat-form-field>
                  <input matInput (keyup)="applyInnerFilter2($event.target.value)" placeholder="Filtrar">
                </mat-form-field>
                <table #innerTables2 mat-table #innerSort2="matSort" [dataSource]="element.subtasks" matSort>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descripció </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>
                  <ng-container matColumnDef="deadline">
                    <th mat-header-cell *matHeaderCellDef> Data venciment </th>
                    <td mat-cell *matCellDef="let task" > <div [ngClass]="getStatus(task.deadline)"> {{ task.deadline | date: 'dd.MM.yyyy'}} </div></td>
                  </ng-container>
                  <ng-container matColumnDef="createAt">
                    <th mat-header-cell *matHeaderCellDef> Data creació </th>
                    <td mat-cell *matCellDef="let element"> {{ element.createAt | date: 'EEE dd.MM.yyyy HH:mm'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opcions </th>
                    <td id="opcions" mat-cell *matCellDef="let element">
                      <input type="image" src="http://localhost:8090/images/edit-icon.png" style="width:20px; cursor:pointer;" [routerLink]="['/tasks/form/task', element.id]" />
                      <!--button type="button" name="edit" [routerLink]="['/tasks/form/task', element.id]" class="btn btn-outline-info btn-xs">Modificar</button-->
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!--tr mat-row *matRowDef="let element; columns: displayedColumns;" [class.example-element-row]="element.subtasks.data?.length" [class.example-expanded-row]="expandedElementSubtask === element || expandedElementInformation === element">
        </tr-->
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" [class.example-element-row]="element.taskInformations.data?.length" [class.example-expanded-row]="expandedElementInformation === element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail1']" class="example-detail-row"></tr>
        <!--tr mat-row *matRowDef="let row; columns: ['expandedDetail1']" class="example-detail-row"></tr-->
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--table class="table table-responsive table-hover" *ngIf="tasks?.length>0">
      <thead>
        <tr>
          <th></th>
          <th>descripció</th>
          <th>Data venciment</th>
          <th>Data creació</th>
          <th>opcions</th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let task of tasks">
          <td><button type="button" name="viewChild" </td>
          <td><button type="button" name="edit" [routerLink]="['/tasks', task.id]" class="btn btn-outline-info btn-xs">{{ task.description }}</button></td>
          <td>{{ task.deadline | date: 'dd.MM.yyyy'}}</td>
          <td>{{ task.createAt | date: 'EEE dd.MM.yyyy HH:mm'}}</td>
          <td>
            <button type="button" name="edit" [routerLink]="['/tasks/form/task', task.id]" class="btn btn-outline-info btn-xs">Modificar</button>
            <button type="button" name="delete" (click)='delete(task)' class="btn btn-outline-danger btn-xs">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator" [linkPaginator]="linkPaginator"></paginator-nav-->
  </div>
</div>
