<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat d'usuaris</h1>
  <div class="card-body text-info">


    <div *ngIf="users?.length == 0" class="alert alert-info">
      No hi ha registres a la base de dades
    </div>


    <table class="table table-responsive table-hover" *ngIf="users?.length>0">
      <thead>
        <tr>
          <th>nom usuari</th>
          <th>Nom</th>
          <th>Cognoms</th>
          <th>Email</th>
          <th>Activat</th>
          <th>Data creació</th>
          <th>Rols</th>
          <th>opcions</th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let user of users">

          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.enabled }}</td>
          <td>{{ user.createAt }}</td>
          <td>{{ user.roles }}</td>
          <td>pendent botons</td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator" [linkPaginator]="linkPaginator"></paginator-nav>

  </div>
</div>
