<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="card bg-light" *ngIf="employee">
  <div class="card-header">{{title}}: {{employee.name}}</div>
  <div class="card-body">

    <h4 class="card-title">
      <a [routerLink]="['/employees']" class="btn btn-light">&laquo; Tornar</a>
    </h4>

    <form #employeeForm="ngForm">

      <div class="form-group-row" *ngIf="employee.company">
        <label for="company" class="col-sm-2 col-form-label">Empresa</label>
        <div class="class col-sm-6">
          <input type="text" name="company" value="{{employee.company.name}}" class="form-control" disabled />
        </div>
      </div>

      <div class="form-group-row">
        <label for="name" class="col-sm-2 col-form-label">Nom</label>
        <div class="class col-sm-6">
          <input type="text" name="name" [(ngModel)]="employee.name" class="form-control" required minlength="5" maxlength="50" #name="ngModel">
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              Camp obligatori.
            </div>
            <div *ngIf="name.errors.minlength">
              Ha de tenir mínim 5 caràcters.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="nif" class="col-sm-2 col-form-label">NIF</label>
        <div class="class col-sm-6">
          <input type="text" name="nif" [(ngModel)]="employee.nif" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="eNifType" class="col-sm-2 col-form-label">Tipus</label>
        <div class="class col-sm-6">
          <select class="form-control" [(ngModel)]="employee.nifType" name="eNifType">
            <option [ngValue]="undefined">--Seleccionar tipus d'identificació--</option>
            <option *ngFor="let type of eNifType | keyvalue" [ngValue]="type.key">{{type.value}}</option>

          </select>
        </div>
      </div>


      <div class="form-group-row">
        <label for="naf" class="col-sm-2 col-form-label">NAF</label>
        <div class="class col-sm-6">
          <input type="text" name="naf" [(ngModel)]="employee.naf" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="email" class="col-sm-2 col-form-label">Mail</label>
        <div class="class col-sm-6">
          <input type="text" name="email" [(ngModel)]="employee.email" class="form-control" email #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.email">
              Ha de tenir un format de mail vàlid.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="phone" class="col-sm-2 col-form-label">Telèfon</label>
        <div class="class col-sm-6">
          <input type="text" name="phone" [(ngModel)]="employee.phone" class="form-control">
        </div>
      </div>


      <div class="form-group-row">
        <label for="birthDate" class="col-sm-2 col-form-label">Data de naixement</label>
        <div class="class col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>Tria una data</mat-label>
            <input matInput [matDatepicker]="picker" name="birthDate" class="form-control" [(ngModel)]="employee.birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group-row">
        <label for="eGender" class="col-sm-6 col-form-label">Gènere:</label>
        <div class="class col-sm-8">
          <mat-radio-group name="eGender" [(ngModel)]="employee.gender">
            <mat-radio-button value="MALE">Home</mat-radio-button>
            <mat-radio-button value="FEMALE">Dona</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <br>


      <div class="form-group-row">
        <div class="class col-sm-6">
            <mat-slide-toggle [(ngModel)]="employee.isEnabled" name="isEnabled" >Actiu</mat-slide-toggle>
        </div>
      </div>


      <div class="form-group-row">
        <label for="comment" class="col-sm-2 col-form-label">Comentari</label>
        <div class="class col-sm-6">
          <textarea name="comment" [(ngModel)]="employee.comment" class="form-control"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <button class="btn btn-outline-info" role="button" (click)='create()' *ngIf="!employee.id else elseBlock" [disabled]="!employeeForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-outline-info" role="button" (click)='update()' [disabled]="!employeeForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>
</div>
