<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat d'usuaris</h1>
  <div class="card-body text-info">

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-outline-info btn-xs mr-2" type="button" [routerLink]="['/users/form']">Crear usuari</button>
    </div>

    <div *ngIf="users?.length == 0" class="alert alert-info">
      No hi ha registres a la base de dades
    </div>


    <table class="table table-responsive table-hover" *ngIf="users?.length>0">
      <thead>
        <tr>
          <th>nom usuari</th>
          <th>Nom</th>
          <th>Cognoms</th>
          <th>Email</th>
          <th>Activat</th>
          <th>Data creació</th>
          <th>Rols</th>
          <th>opcions</th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td><button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/users/view', user.id]" class="btn btn-outline-info btn-xs">{{ user.username }}</button></td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isEnabled }}</td>
          <td>{{ user.createAt | date: 'EEE dd.MM.yyyy HH:mm' }}</td>
          <td>
            <li *ngFor="let role of user.userRoles">{{ role.role.description }}</li>
          </td>
          <td>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/users/form', user.id]" class="btn btn-outline-info btn-xs">Modificar</button>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="delete" (click)='delete(user)' class="btn btn-outline-danger btn-xs">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator" [linkPaginator]="linkPaginator"></paginator-nav>

  </div>
</div>
