<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="container-fluid my-5">
  <h1 class="text-warning">{{title}}: {{companyType.description}}</h1>

  <div class="card-body">

    <h4 class="card-title">
      <a [routerLink]="['/company_types']" class="btn btn-light">&laquo; Tornar</a>
    </h4>

    <form>

      <div class="form-group-row">
        <label for="description" class="col-sm-2 col-form-label">Descripció</label>
        <div class="class col-sm-6">
          <input type="text" name="description" [(ngModel)]="companyType.description" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="code" class="col-sm-2 col-form-label">Codi</label>
        <div class="class col-sm-6">
          <input type="text" name="code" [(ngModel)]="companyType.code" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="comment" class="col-sm-2 col-form-label">Comentari</label>
        <div class="class col-sm-6">
          <input type="text" name="comment" [(ngModel)]="companyType.comment" class="form-control">
        </div>
      </div>

      <br>

      <div class="form-group-row">
        <div class="col-sm-6">
          <button class="btn btn-outline-info" role="button" (click)='create()' *ngIf="!companyType.id else elseBlock">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-outline-info" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>
</div>
