

<div class="container-fluid my-5">
  <h1 class="text-warning">Llistat de treballadors</h1>
  <div class="card-body text-info">


  <div *ngIf="employees?.length == 0" class="alert alert-info">
    No hi ha registres a la base de dades

  </div>
  <table class="table table-responsive table-hover" *ngIf="employees?.length>0">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Nif</th>
        <th>Data creació</th>
        <th>opcions</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let employee of employees">

        <td><button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/employees', employee.id]" class="btn btn-outline-info btn-xs">{{ employee.name }}</button></td>
        <td>{{ employee.nif }}</td>
        <td>{{ employee.createAt | date: 'EEE dd.MM.yyyy HH:mm'}}</td>
        <td>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/employees/form', employee.company.id, employee.id]" class="btn btn-outline-info btn-xs">Modificar</button>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="delete" (click)='delete(employee)' class="btn btn-outline-danger btn-xs">Eliminar</button>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="edit" [routerLink]="['/tasks/form/employee', employee.company.id, employee.id]" class="btn btn-outline-success btn-xs">Crear tasca</button>
        </td>
      </tr>
    </tbody>
  </table>
  <paginator-nav *ngIf="paginator" [paginator]= "paginator" [linkPaginator] = "linkPaginator" ></paginator-nav>
</div>
</div>
