<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="card bg-light" *ngIf="employee">
  <div class="card-header">{{title}}: {{employee.name}}</div>
  <div class="card-body">

    <h4 class="card-title">
      <a [routerLink]="['/employees']" class="btn btn-light">&laquo; Tornar</a>
    </h4>

    <form>

      <div class="form-group-row" *ngIf="employee.company">
        <label for="" class="col-sm-2 col-form-label">Empresa</label>
        <div class="class col-sm-6">
          <input type="text" name="company" value="{{employee.company.name}}" class="form-control" disabled />
        </div>
      </div>

      <div class="form-group-row">
        <label for="name" class="col-sm-2 col-form-label">Nom</label>
        <div class="class col-sm-6">
          <input type="text" name="name" [(ngModel)]="employee.name" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="nif" class="col-sm-2 col-form-label">NIF</label>
        <div class="class col-sm-6">
          <input type="text" name="nif" [(ngModel)]="employee.nif" class="form-control">
        </div>
      </div>

      <!--div class="form-group-row">
        <label for="nifType" class="col-sm-2 col-form-label">NIF</label>
        <div class="class col-sm-6">
          <select class="form-control" [(ngModel)]="employee.nifType" name="nifType">
            <option [ngValue]="undefined">--Seleccionar tipus d'identificació--</option>
            <option *ngFor="let key of enumKeys" [value]="key">{{nifTypeEnum[key]}}</option>

          </select>
        </div>
      </div-->

      <div class="form-group-row">
        <label for="eNifType" class="col-sm-2 col-form-label">Tipus</label>
        <div class="class col-sm-6">
          <select class="form-control" [(ngModel)]="employee.nifType" name="eNifType">
            <option [ngValue]="undefined">--Seleccionar tipus d'identificació--</option>
            <option *ngFor="let type of eNifType | keyvalue" [ngValue]="type.value">{{type.value}}</option>

          </select>
        </div>
      </div>


      <div class="form-group-row">
        <label for="naf" class="col-sm-2 col-form-label">NAF</label>
        <div class="class col-sm-6">
          <input type="text" name="naf" [(ngModel)]="employee.naf" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="email" class="col-sm-2 col-form-label">Mail</label>
        <div class="class col-sm-6">
          <input type="text" name="email" [(ngModel)]="employee.email" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="phone" class="col-sm-2 col-form-label">Telèfon</label>
        <div class="class col-sm-6">
          <input type="text" name="phone" [(ngModel)]="employee.phone" class="form-control">
        </div>
      </div>


      <div class="form-group-row">
        <label for="birthDate" class="col-sm-2 col-form-label">Data de naixement</label>
        <div class="class col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>Tria una data</mat-label>
            <input matInput [matDatepicker]="picker" name="birthDate" class="form-control" [(ngModel)]="employee.birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group-row">
        <label for="eGender" class="col-sm-2 col-form-label">Gènere:</label>
        <div class="class col-sm-6">
        <mat-radio-group name="eGender" [(ngModel)]="employee.gender">
          <mat-radio-button class="example-margin" value="MALE">Home</mat-radio-button>
          <mat-radio-button class="example-margin" value="FEMALE">Dona</mat-radio-button>
        </mat-radio-group>
        </div>
      </div>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <mat-checkbox for="isEnabled" name="isEnabled" [(ngModel)]="employee.isEnabled" class="example-margin">Actiu</mat-checkbox>
        </div>
      </div>


      <!--div class="form-group-row">
        <label for="isEnabled" class="col-sm-2 col-form-label">Actiu</label>
        <div class="class col-sm-6">
          <input type="checkbox" name="isEnabled" [(ngModel)]="employee.isEnabled" class="form-control">
        </div>
      </div-->


      <div class="form-group-row">
        <label for="comment" class="col-sm-2 col-form-label">Comentari</label>
        <div class="class col-sm-6">
          <input type="text" name="comment" [(ngModel)]="employee.comment" class="form-control">
        </div>
      </div>

      <br>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <button class="btn btn-outline-info" role="button" (click)='create()' *ngIf="!employee.id else elseBlock">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-outline-info" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>

    </form>


  </div>
</div>
