<div class="card bg-light" *ngIf="employee">
  <div class="card-header">{{title}}: {{employee.name}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/employees']" class="btn btn-light">&laquo; Tornar</a>
    </h4>

    <ul class="list-group my-2" *ngIf="employee?.company">
      <li class="list-group-item list-group-item-primary">{{employee.company.name}}, {{employee.company.companyType.code}}</li>
      <li class="list-group-item">{{employee.company.email}}</li>
      <li class="list-group-item">{{employee.company.phone}}</li>
      <li class="list-group-item">{{employee.company.createAt | date: 'EEE dd.MM.yyyy HH:mm'}}</li>
    </ul>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">{{employee.name}}</li>
      <li class="list-group-item">{{employee.nif}} {{employee.nifType}}</li>
      <li class="list-group-item">{{employee.naf}}</li>
      <li class="list-group-item">{{employee.phone}}</li>
      <li class="list-group-item">{{employee.email}}</li>
      <li class="list-group-item">
        <mat-radio-group name="eGender" [(ngModel)]="employee.gender">
          <mat-radio-button class="example-margin" [disabled]="true" value="MALE">Home</mat-radio-button>
          <mat-radio-button class="example-margin" [disabled]="true" value="FEMALE">Dona</mat-radio-button>
        </mat-radio-group>
      </li>
      <li class="list-group-item">{{employee.birthDate | date: 'dd.MM.yyyy'}}</li>
      <li class="list-group-item">Creació: {{employee.createAt | date: 'EEE dd.MM.yyyy HH:mm'}}</li>

      <li class="list-group-item">
        <mat-checkbox for="isEnabled" name="isEnabled" [(ngModel)]="employee.isEnabled" class="example-margin" [disabled]="true">Actiu</mat-checkbox>
      </li>
    </ul>

    <div class="class border-info my-2">
      <div class="card card-header">
        Comentaris
      </div>
      <div class="card card-body">
        <p *ngIf="!employee.comment">No té comentaris</p>
        <p *ngIf="employee.comment">{{employee.comment}}</p>
      </div>
    </div>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">TASQUES</li>
      <div *ngIf="employee?.tasks.length == 0" class="alert alert-info">
        No hi ha registres a la base de dades
      </div>
      <li class="list-group-item">
        <table *ngIf="employee?.tasks.length>0" class="table table-striped table-hover table-bordered my-3">
          <thead>
            <tr>
              <th>Descripció</th>
              <th>Data Venciment</th>
              <th>Creació</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of employee.tasks">
              <td>{{task.description}}</td>
              <td>{{task.deadline | date: 'dd.MM.yyyy'}}</td>
              <td>{{task.createAt | date: 'dd.MM.yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>



</div>
