
<div cdkDropList class="item-dropzone parent" [id]="parentTaskId" [cdkDropListData]="parentTask" [cdkDropListConnectedTo]="allDropListsIds" (cdkDropListDropped)="onDragDrop($event)">
  <div cdkDrag [id]="task.id" [cdkDragData]="task" [cdkDragDisabled]="dragDisabled" class="cdkdrag-box">
    <div title="Drag this task with children" class="item-drag-handle" cdkDragHandle>
      <i *ngIf="!dragDisabled" class="material-icons icon-grey">
        drag_indicator
      </i>
      <button *ngIf="!dragDisabled" [disabled]="position == 0" type="button" class="btn button1" (click)="moveTaskUp()" name="button"><i class="material-icons icon-grey1">
          arrow_upward
        </i>
      </button>
      <button *ngIf="!dragDisabled" [disabled]="position == length-1" type="button" class="btn button1" (click)="moveTaskDown()" name="button"><i class="material-icons icon-grey1">
          arrow_downward
        </i></button> {{task.description}}
    </div>
    <div class="item-drag-preview" *cdkDragPreview>
      {{task.description}} with {{task.subtasks.length}} subtask(s)
    </div>
  </div>

<ul cdkDropList class="item-dropzone" [id]="task.id" [cdkDropListConnectedTo]="connectedDropListsIds" [cdkDropListData]="task" (cdkDropListDropped)="onDragDrop($event)">
  <li *ngFor="let taskSequence of task.subtasks">
    <subtasks-list [task]="taskSequence.subtask" [position]="taskSequence.position" [length]="task.subtasks.length" [parentTask]="task" [connectedDropListsIds]="allDropListsIds" (itemDrop)="onDragDrop($event)">
    </subtasks-list>
  </li>
</ul>
</div>
