<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="container-fluid my-5">
  <h1 class="text-warning">{{ title }}</h1>
  <div class="card-body">

    <div style="max-width: 250px;">
      <img *ngIf="company?.image" src="http://localhost:8090/api/uploads/img/{{company.image}}" alt="{{company.image}}" class="img-thumbnail rounded">
    </div>

    <br>

    <form #companyForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Nom</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="company.name" name="name" required minlength="2" maxlength="50" #name="ngModel">
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              Camp obligatori.
            </div>
            <div *ngIf="name.errors.minlength">
              Ha de tenir mínim 2 caràcters.
            </div>

          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Mail</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="company.email" name="email" #email="ngModel" required email>
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Camp obligatori.
            </div>
            <div *ngIf="email.errors.email">
              Ha de tenir un format de mail vàlid.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-form-label col-sm-2">Telèfon</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="company.phone" name="phone" required #phone="ngModel">
          <div class="alert alert-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <div *ngIf="phone.errors.required">
              Camp obligatori.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="companyType" class="col-form-label col-sm-2">Tipus d'empresa</label>
        <div class="col-sm-6">
          <select [compareWith]="compareCompanyType" class="form-control" [(ngModel)]="company.companyType" name="companyType">
            <option [ngValue]="undefined">----Seleccionar tipus d'empresa----</option>
            <option *ngFor="let companyType of companyTypes" [ngValue]="companyType">{{companyType.description}}</option>
          </select>
        </div>
      </div>



      <div class="form-group row">
        <label for="comment" class="col-form-label col-sm-2">Comentari</label>
        <div class="col-sm-6">
          <textarea class="form-control" [(ngModel)]="company.comment" name="comment"></textarea>
        </div>
      </div>

      <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="input-group mb-3">
        <div class="custom-file">
          <input (change)="selectImage($event)" type="file" class="custom-file-input" id="inputGroupFile04">
          <label class="custom-file-label" for="inputGroupFile04">Seleccionar imatge</label>
        </div>
        <div class="input-group-append">
          <button (click)="uploadImage()" [disabled]="!selectedImage" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Pujar</button>
        </div>
      </div>

      <div *ngIf="progress > 0" class="progress" style="height: 40px; ">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{width:progress+'%'}" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
          {{progress}}%
        </div>
      </div>



      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-outline-info" role="button" (click)='create()' *ngIf="!company.id else elseBlock" [disabled]="!companyForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-outline-info" role="button" (click)='update()' [disabled]="!companyForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>



    </form>
  </div>
</div>
