<ul *ngIf="errors?.length >0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="card bg-light" *ngIf="task">
  <div class="card-header">{{title}}: {{task.description}}</div>
  <div class="card-body">

    <h4 class="card-title">
      <a [routerLink]="['/tasks']" class="btn btn-light">&laquo; Tornar</a>
    </h4>

    <form #taskForm="ngForm">

      <div class="form-group-row" *ngIf="task.company">
        <label for="company" class="col-sm-2 col-form-label">Empresa</label>
        <div class="col-sm-6">
          <input type="text" name="company" value="{{task.company.name}}" class="form-control" />
        </div>
      </div>

      <div class="form-group-row" *ngIf="task.employee">
        <label for="" class="col-sm-2 col-form-label">Treballador</label>
        <div class="col-sm-6">
          <input type="text" name="employee" value="{{task.employee.name}}" class="form-control" />
        </div>
      </div>

      <div class="form-group-row">
        <label for="description" class="col-sm-6 col-form-label">Descripció</label>
        <div class="class col-sm-6">
          <input type="text" name="description" [(ngModel)]="task.description" class="form-control" required minlength="3" maxlength="80" #description="ngModel">
          <div class="alert alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
            <div *ngIf="description.errors.required">
              Camp obligatori.
            </div>
            <div *ngIf="description.errors.minlength">
              Ha de tenir mínim 3 caràcters.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="deadline" class="col-sm-6 col-form-label">Data de venciment</label>
        <div class="class col-sm-6">
          <mat-form-field appearance="fill" color="warn">
            <mat-label>Tria una data</mat-label>
            <input matInput [matDatepicker]="picker" name="deadline" class="form-control" [(ngModel)]="task.deadline" required #deadline="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div class="alert alert-danger" *ngIf="deadline.invalid && (deadline.dirty || deadline.touched)">
              <div *ngIf="deadline.errors.required">
                Camp obligatori.
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <mat-checkbox for="isToSend" name="isToSend" [(ngModel)]="task.isToSend" class="example-margin">Per enviar</mat-checkbox>
        </div>

      </div>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <mat-checkbox for="isTemplate" name="isTemplate" [(ngModel)]="task.isTemplate" class="example-margin">Plantilla</mat-checkbox>
        </div>
      </div>

      <div class="form-group-row" *ngIf="task.isTemplate">
        <label for="templateName" *ngIf="task.isTemplate" class="col-sm-6 col-form-label">Nom Plantilla</label>
        <div class="class col-sm-6" *ngIf="task.isTemplate">
          <input type="text" name="templateName" [(ngModel)]="task.templateName" class="form-control" maxlength="25" #templateName="ngModel">
        </div>
      </div>

      <div class="form-group-row">
        <label for="numberToCalculateDeadline" class="col-sm-6 col-form-label">Número per calcular data avís</label>
        <div class="class col-sm-2">
          <input type="number" name="numberToCalculateDeadline" [(ngModel)]="task.numberToCalculateDeadline" class="form-control">
        </div>
      </div>

      <div class="form-group-row">
        <label for="eTimeTypes" class="col-sm-2 col-form-label">Tipus</label>
        <div class="class col-sm-4">
          <select class="form-control" [(ngModel)]="task.typeCalculationDeadline" name="eTimeTypes">
            <option [ngValue]="undefined">--Seleccionar--</option>
            <option *ngFor="let type of eTimeTypes | keyvalue" [ngValue]="type.key">{{type.value}}</option>

          </select>
        </div>
      </div>

      <div class="form-group-row">
        <label for="comment" class="col-sm-6 col-form-label">Comentari</label>
        <div class="class col-sm-6">
          <textarea name="comment" [(ngModel)]="task.comment" class="form-control"></textarea>
        </div>
      </div>

      <br>

      <div class="form-group-row">
        <div class="class col-sm-6">
          <mat-checkbox for="isDone" (change)="taskDone($event)" name="isDone" [(ngModel)]="task.isDone" class="example-margin">Feta</mat-checkbox>
        </div>
      </div>

      <div class="class form-group-row">
        <div class="class col-sm-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Afegir informació" aria-label="Informations" [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="showDescription" (optionSelected)="selectInformation($event)">
              <mat-option *ngFor="let information of filteredInformations | async" [value]="information">
                {{information.description}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="task.id">
        <div class="alert alert-info my-4" *ngIf="task.taskInformations.length === 0">
          No hi ha informacions per la tasca {{task.description}}
        </div>
        <h5 class="float-right" *ngIf="task.id && task.taskInformations.length > 0">Informacions: <span class="badge badge-secondary">{{task.taskInformations.length}}</span></h5>
      </div>

      <table class="table table-striped table-hover table-sm" *ngIf="task.taskInformations.length > 0">
        <thead>
          <tr>
            <th>Informació</th>
            <th>Pin</th>
            <th>Feta</th>
            <th>Comment</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let information of task.taskInformations">
            <td>{{information.information.description}}</td>
            <td><button mat-icon-button [ngClass]="information.isSticked ? 'red' : 'black' " (click)="changeIsSticked(information.id)" aria-label="Example icon button with a home icon">
        <mat-icon>push_pin</mat-icon>
      </button>

            <td>
              <mat-checkbox (change)="informationDone(information.information.id, $event)" color='primary' name="done{{information.information.id}}" [(ngModel)]="information.done"></mat-checkbox>
            </td>
            <td>{{information.comment}}</td>
            <td><button class="btn btn-danger btn-sm" type="button" (click)="deleteTaskInformation(information.information.id)">x</button></td>
          </tr>
        </tbody>
      </table>


      <div class="form-group-row">
        <div class="class col-sm-6">
          <button class="btn btn-outline-info" role="button" (click)="create()" *ngIf="!task.id else elseBlock" [disabled]="!taskForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-outline-info" role="button" (click)='update()' [disabled]="!taskForm.form.valid">Editar</button>
          </ng-template>

        </div>
      </div>



    </form>

  </div>
</div>
