/* You can add global styles to this file, and also import other style files */
html{
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 60px;
}

.wrap{
  padding-bottom: 60px;
}

input[type=checkbox] {
  transform: scale(1.3);
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
 /*border: 1px solid #F3F2F2;*/
 cursor: pointer;
 filter: hue-rotate(327deg)
}

.border-radius {
  border-radius: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
